#################
## Project output files
#################
Automation/bin/
Automation/obj/
MouseCoordinates/bin/
MouseCoordinates/obj/
Activity/bin/
Activity/obj/
Utils/bin/
Utils/obj/
UnitTest/bin/
UnitTest/obj/
Constants/bin/
Constants/obj/
Mining/bin/
Mining/obj/