#################
## Project output files
#################
Automation/bin/
Automation/obj/
MouseCoordinates/bin/
MouseCoordinates/obj/
Activity/bin/
Activity/obj/
Utils/bin/
Utils/obj/
Constants/bin/
Constants/obj/
Mining/bin/
Mining/obj/
Automation/TestResults/
Automation/UnitTest/TestData/
Automation/UnitTest/bin/Debug
TestResults/